UGS_PROJECT_ID=35a0f424-a2ce-45a4-b2f3-5a9e3b9d734b
UGS_PLAYER_ID=7EOyuU9AXzVZDR3vtQcDANgahjFD
UGS_ENVIRONMENT_ID=b2efe99c-adb3-43d6-ac05-fe9ad3802e83
UGS_ENVIRONMENT_NAME=production
UGS_KEY_ID=
UGS_SECRET_KEY=
